streamlit
pandas
openpyxl
pdf2image
pytesseract
python-docx
sentence-transformers
faiss-cpu
rank_bm25
langchain>=0.1.0
langchain-community>=0.0.20
langchain-core
langchain-groq
langchain-openai
langchain-huggingface
langchain-text-splitters
